.has-text-align-justify {
    text-align: left !important;
}

.wp-site-blocks {
    position: relative;
}

.wp-site-blocks * {
    font-family: Archivo, sans-serif !important;
}

.wp-site-blocks h1,
.wp-site-blocks h2,
.wp-site-blocks h3,
.wp-site-blocks h4,
.wp-site-blocks h5,
.wp-site-blocks h6 {
    font-weight: 800;
}

.wp-site-blocks h1 a,
.wp-site-blocks h2 a,
.wp-site-blocks h3 a,
.wp-site-blocks h4 a,
.wp-site-blocks h5 a,
.wp-site-blocks h6 a {
    font-weight: inherit !important;
    text-decoration: none;
}

.wp-site-blocks th,
.wp-site-blocks td {
    text-align: left;
}

.wp-site-blocks th,
.wp-site-blocks td {
    text-align: left;
    padding: 0.5vw;
}

.wp-site-blocks th:first-child,
.wp-site-blocks td:first-child {
    padding-left: 0;
}

.wp-site-blocks button,
.wp-site-blocks input[type="submit"],
.wp-site-blocks input[type="reset"] {
    border: none;
    padding: 15px 23px;
    color: var(--wp--preset--color--white);
    background-color: var(--wp--preset--color--primary);
    font-weight: 700;
    font-size: 1em;
}

.wp-site-blocks select {
    color: var(--wp--preset--color--foreground);
    padding: 19px 8px;
    font: inherit;
    border: 1px solid currentColor;
    background-color: white;
}

.wp-site-blocks input,
.wp-site-blocks textarea,
.wp-site-blocks select {
    border-radius: 3px;
}

.alignwide {
    max-width: 1278px !important;
    margin-left: auto;
    margin-right: auto;
}

.c-mainmenu {
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    z-index: 1972;
    pointer-events: none;
}

.c-mainmenu a,
.c-mainmenu button {
    pointer-events: all;
}

.c-mainmenu .current-menu-item > a {
    text-decoration: underline;
}

body.admin-bar .c-mainmenu {
    top: calc(26px + var(--wp-admin--admin-bar--height));
}

.c-mainmenu .wp-block-navigation__responsive-close {
    max-width: 100%;
}

.c-mainmenu.has-background-color {
    background-color: transparent !important;
    padding: 0 !important;
}

.wp-site-blocks > .c-mainmenu.c-mainmenu {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 1.0625rem !important;
    padding-left: 10rem !important;
    padding-right: 5rem !important;
}

@media screen and (min-width: 48rem) {
    .wp-site-blocks > .c-mainmenu.c-mainmenu {
        margin-top: 0.9rem !important;
    }
}

@media screen and (min-width: 80em) {
    .wp-site-blocks > .c-mainmenu.c-mainmenu {
        left: 50%;
        transform: translateX(-50%);
        width: 100% !important;
        padding-right: 0 !important;
    }

    .wp-site-blocks > .c-mainmenu .wp-block-navigation {
        max-width: unset !important;
    }
}

@media screen and (min-width: 90em) {
    .wp-site-blocks > .c-mainmenu .wp-block-navigation {
        margin-right: -4.5vw !important;
    }
}

.c-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding-left: 1rem;
    padding-right: 1rem;
}

.c-header:first-child + .wp-block-cover,
.c-mainmenu + .wp-block-cover {
    margin-top: 0;
}

body.admin-bar .c-header {
    top: var(--wp-admin--admin-bar--height);
}

.c-header .wp-block-site-title {
    font-style: normal;
}

.c-header .wp-block-site-title a,
.c-header .wp-block-site-title a:hover,
.c-header .wp-block-site-title a:focus-visible {
    text-decoration: none;
}

@media screen and (max-width: 1279px) {
    .c-header .wp-block-site-title {
        display: none;
    }
}

@media screen and (min-width: 1540px) {
    .c-header .wp-block-site-logo {
        margin-left: -104px;
    }
}

.wp-block-cover .wp-block-post-title,
.wp-block-cover h1,
.wp-block-cover h2,
.wp-block-cover h3,
.wp-block-cover h4,
.wp-block-cover h5,
.wp-block-cover h6 {
    text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.75);
}

h1.has-x-large-font-size,
.wp-block-post-title.has-x-large-font-size {
    font-size: clamp(1.75rem, 3vw, 3.5rem) !important;
}

.wp-block-cover__inner-container {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
}

.wp-block-post-content > .wp-block-cover:first-child,
.c-mainmenu + .wp-block-cover {
    margin-bottom: 3vw;
}

.wp-block-post-content > .alignwide {
    max-width: 1278px;
}

.wp-block-separator:not(.has-background) {
    border-color: var(--wp--preset--color--custom-primary-light);
}

.wordcamp-post-list {
    padding-left: 0;
}

.wordcamp-post-list.wordcamp-organizers {
    gap: var(--wp--preset--spacing--80);
}

.wordcamp-post-list.wordcamp-organizers .wordcamp-organizers__title {
    font-size: 1.5rem;
}

.wp-block-jetpack-subscriptions .success {
    background-color: green;
    color: white;
    padding: 1em;
}

.wp-block-jetpack-subscriptions .success > * {
    margin-top: 0;
    margin-bottom: 0;
}

.wp-block-jetpack-subscriptions .success > * + * {
    margin-top: 1em;
}

.wp-block-jetpack-contact-form .wp-block-heading {
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.tix-tickets-list .tix-column-description {
    font-weight: bold;
}

.tix-tickets-list .tix-column-description[scope="row"] {
    font-weight: normal;
}

.wp-block-template-part {
    clear: both;
}

/* SPONSORS */
.wordcamp-block__item-content {
    font-size: var(--wp--preset--font-size--small);
}

.single-wcb_sponsor .wp-block-post-featured-image {
    max-width: 250px;
}

.wordcamp-post-list.wordcamp-sponsors.has-layout-list > * {
    margin-top: 0;
    margin-bottom: 0;
}

.wordcamp-post-list.wordcamp-sponsors.has-layout-list > * + * {
    margin-top: var(--wp--custom--spacing--medium);
}

.wordcamp-post-list.wordcamp-sponsors
    .wordcamp-sponsor.wordcamp-sponsors__post {
    display: grid;
    gap: 0;
    align-items: center;
}

.wordcamp-post-list.wordcamp-sponsors
    .wordcamp-sponsor.wordcamp-sponsors__post
    img.wordcamp-image__featured-image {
    height: auto;
}

.wordcamp-post-list.wordcamp-sponsors--microsponsors {
    align-items: center;
}

.wordcamp-post-list.wordcamp-sponsors
    .wordcamp-sponsor.slug-vefko-verein-fur-vereinskommunikation
    img.wordcamp-image__featured-image {
    max-width: 80px;
}

.wordcamp-post-list.wordcamp-sponsors
    .wordcamp-sponsor.slug-armin-oppliger
    img.wordcamp-image__featured-image {
    max-width: 120px;
}

.wordcamp-post-list.wordcamp-sponsors
    .wordcamp-sponsor.slug-app-n-web
    img.wordcamp-image__featured-image {
    max-width: 120px;
}

@media screen and (min-width: 48em) {
    .wordcamp-post-list.wordcamp-sponsors
        .wordcamp-sponsor.wordcamp-sponsors__post {
        gap: 3rem;
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (min-width: 48em) {
    .wordcamp-post-list.has-grid-columns-2 {
        gap: 3vw 8vw;
    }

    .wordcamp-post-list.has-grid-columns-3 {
        gap: 3vw 6vw;
    }

    .wordcamp-post-list.has-grid-columns-4 {
        gap: 3vw 4vw;
    }
}

/**/
/* HEADINGS */
.wp-block-heading--gold {
    border-bottom: 1px solid currentColor;
    color: goldenrod;
}

.wp-block-heading--silver {
    border-bottom: 1px solid currentColor;
    color: darkgrey;
}

.wp-block-heading--bronze {
    border-bottom: 1px solid currentColor;
    color: #cd7f32;
}

.wp-block-heading--inkind {
    border-bottom: 1px solid currentColor;
    color: hotpink;
}

.wp-block-heading--mediapartner {
    border-bottom: 1px solid currentColor;
    color: cornflowerblue;
}

.wp-block-heading--microsponsors {
    border-bottom: 1px solid currentColor;
    color: purple;
}

/**/
@supports (aspect-ratio: 16/9) {
    .wp-block-query .wp-block-post-featured-image {
        aspect-ratio: 16/9;
        overflow: hidden;
    }

    .wp-block-query .wp-block-post-featured-image img,
    .wp-block-query .wp-block-post-featured-image a {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
    }
}

@media screen and (min-width: 720px) {
    body.page .wp-block-post-content > :not(.alignwide):not(.alignfull) {
        transform: translateX(calc((90vw - 650px) * -0.5));
    }
}

@media screen and (min-width: 1420px) {
    body.page .wp-block-post-content > :not(.alignwide):not(.alignfull) {
        transform: translateX(calc((1278px - 650px) * -0.5));
    }

    .wp-block-cover__inner-container {
        padding-left: 0;
        padding-right: 0;
        max-width: 1278px;
    }
}

@media screen and (max-width: 599px) {
    .wp-block-navigation__responsive-container-content,
    .wp-block-navigation__responsive-container-content
        .wp-block-navigation__container,
    .wp-block-navigation__responsive-container-content
        .wp-block-navigation-item {
        align-items: flex-start !important;
    }
}

/* SCHEDULE START */
.dashicons,
.dashicons-before:before {
    font-family: dashicons !important;
}

.wcb-favourite-session .dashicons-star-filled {
    color: var(--wp--preset--color--primary);
}

.dashicons-star-filled:before {
    content: "\f154";
}

.wcb-favourite-session .dashicons-star-filled:before {
    content: "\f155";
}

.wcb-favourite-session {
    background-color: var(--wp--preset--color--custom-primary-very-light);
}

.has-slug-doors-opening a,
.has-slug-lunch a,
[class*="has-slug-coffee"] a,
[class*="has-slug-cofee"] a,
.has-slug-after-party a,
.has-slug-opening-remarks a,
.has-slug-closing-remarks a {
    color: inherit;
}

body:not(.block-editor-page)
    .wordcamp-schedule:not(.is-style-single-column-layout)
    .wordcamp-schedule__session.is-spanning-some-tracks {
    text-align: left;
}

body:not(.block-editor-page)
    .wordcamp-schedule:not(.is-style-single-column-layout)
    .editor-styles-wrapper
    h3.wordcamp-schedule__time-slot-header,
body:not(.block-editor-page)
    .wordcamp-schedule:not(.is-style-single-column-layout)
    .wordcamp-schedule__session,
body:not(.block-editor-page)
    .wordcamp-schedule:not(.is-style-single-column-layout)
    .wordcamp-schedule__time-slot-header {
    box-shadow: 0 0 1px 1px var(--wp--preset--color--custom-light-grey);
}

.wordcamp-schedule__column-header {
    padding: 0 14px 14px 28px !important;
    background: var(--wp--preset--color--background) !important;
}

@media screen and (max-width: 549px) {
    .wordcamp-schedule__time-slot-header {
        background-color: var(--wp--preset--color--custom-primary-light);
    }
}

/* SCHEDULE END */
/* ATTENDEE LIST START */
.tix-attendee-list {
    display: grid;
    gap: 1rem;
    padding-left: 0;
}

#tix-attendees li {
    width: unset !important;
    float: none;
    margin-bottom: 0;
    height: auto;
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 5%);
    text-align: center;
    word-break: break-word;
    padding: 1rem;
    padding: clamp(1rem, 0.7142857142857143rem + 1.4285714285714286vw, 2rem);
}

#tix-attendees li > * {
    margin-top: 0;
    margin-bottom: 0;
}

#tix-attendees li img {
    float: none;
    width: clamp(4rem, 3rem + 5vw, 7.5rem) !important;
    height: clamp(4rem, 3rem + 5vw, 7.5rem) !important;
    border-radius: 8px;
}

#tix-attendees .tix-field {
    margin-left: 0;
}

#tix-attendees .tix-attendee-url {
    display: inline-block;
}

#tix-attendees .avatar {
    float: none !important;
}

.tix-attendee-list {
    gap: 2rem;
    gap: clamp(1rem, 0.1428571428571428rem + 4.285714285714286vw, 4rem);
}

.tix-attendee-name {
    font-size: var(--wp--preset--font-size--medium) !important;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
}

.tix-attendee-name * {
    font-size: 1em !important;
}

@media screen and (min-width: 48em) {
    .tix-attendee-list.tix-columns-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 64em) {
    .tix-attendee-list.tix-columns-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media screen and (min-width: 90em) {
    .tix-attendee-list {
        gap: 4rem;
    }
}

/* ATTENDEE LIST END */
/* MICROSPONSORS START */
.wordcamp-sponsors--microsponsors .wordcamp-image__featured-image-container a {
    display: block;
    pointer-events: none;
}

.wordcamp-sponsors--microsponsors .wordcamp-block__item-content > * {
    margin-top: 0;
    margin-bottom: 0;
}

.wordcamp-sponsors--microsponsors .wordcamp-block__item-content > * + * {
    margin-top: var(--wp--style--block-gap);
}

.wordcamp-post-list.wordcamp-sponsors--microsponsors
    .wordcamp-sponsor.wordcamp-sponsors__post {
    display: block;
}

/* MICROSPONSORS END */
/* SOCIAL ICONS START */
.wp-social-link-mastodon {
    width: 34px;
}

/* SOCIAL ICONS END*/
/* Hide speakers form */
.hide-form-11022023,
#contact-form-1612,
#contact-form-1583,
#contact-form-1368 {
    display: none;
}

/* BEGIN SCHEDULE */
/* Desktop and mobile */
.wordcamp-schedule__session p {
    display: none;
}

.wordcamp-schedule-custom h2 {
    display: none;
}

.wordcamp-schedule__session {
    font-size: 1rem;
}

.wordcamp-schedule__session > * {
    margin-top: 0;
    margin-bottom: 0;
}

.wordcamp-schedule__session > * + * {
    margin-top: 1rem;
}

.wordcamp-schedule__session .dashicons {
    width: 24px !important;
    height: 24px !important;
}

.wordcamp-schedule__session .dashicons::before {
    font-size: 24px !important;
}

.wordcamp-schedule__session .wcb-session-favourite-icon {
    padding-left: 1em;
}

/* Desktop */
@media screen and (min-width: 550px) {
    .wordcamp-schedule__day {
        background-color: #f6f6f6;
    }

    .is-spanning-all-tracks {
        text-align: center !important;
    }

    .is-spanning-all-tracks h4 {
        display: block !important;
    }

    .is-column-time,
    .wordcamp-schedule__time-slot-header.is-empty {
        display: none !important;
    }

    .wordcamp-schedule__column-header {
        background: #f6f6f6 !important;
    }

    .wordcamp-schedule__day h3 {
    }

    .wordcamp-schedule__time-slot-header {
        display: block;
    }

    .wordcamp-schedule__column-header.is-column-track-aquarium,
    .wordcamp-schedule__column-header.is-column-track-z-aula {
        background-color: #f6f6f6 !important;
        font-size: larger;
    }

    .wordcamp-schedule-custom .is-spanning-all-tracks,
    #wordcamp-schedule__session-2261,
    #wordcamp-schedule__session-2300 {
        background-color: #a9999126;
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }

    .wordcamp-schedule__day h3 {
        box-shadow: none !important;
        position: relative;
    }

    .wordcamp-schedule__day h3:after {
        position: absolute;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    .wordcamp-schedule__day h3:nth-of-type(1):after {
        content: "09:00";
    }

    .wordcamp-schedule__day h3:nth-of-type(2):after {
        content: "09:45";
    }

    .wordcamp-schedule__day h3:nth-of-type(3):after {
        content: "10:00";
    }

    .wordcamp-schedule__day h3:nth-of-type(4):after {
        content: "10:35";
    }

    .wordcamp-schedule__day h3:nth-of-type(5):after {
        content: "11:20";
    }

    .wordcamp-schedule__day h3:nth-of-type(6):after {
        content: "11:40";
    }

    .wordcamp-schedule__day h3:nth-of-type(7):after {
        content: "12:15";
    }

    .wordcamp-schedule__day h3:nth-of-type(8):after {
        content: "13:00";
    }

    .wordcamp-schedule__day h3:nth-of-type(9):after {
        content: "14:30";
    }

    .wordcamp-schedule__day h3:nth-of-type(10):after {
        content: "15:25";
    }

    .wordcamp-schedule__day h3:nth-of-type(11):after {
        content: "16:10";
    }

    .wordcamp-schedule__day h3:nth-of-type(12):after {
        content: "16:30";
    }

    .wordcamp-schedule__day h3:nth-of-type(13):after {
        content: "17:25";
    }

    .wordcamp-schedule__day h3:nth-of-type(14):after {
        content: "18:20";
    }

    .wordcamp-schedule__day h3:nth-of-type(16):after {
        content: "19:00";
    }
}

/* END SCHEDULE */
/* SPEAKERS */
/* .wordcamp-speakers {
  padding-left: 0;
} */
.wordcamp-speakers__content > * {
    margin-top: 0;
    margin-bottom: 0;
}

.wordcamp-speakers__content > * + * {
    margin-top: 1rem;
}

.wordcamp-speakers__title a {
    color: inherit;
    pointer-events: none;
}

.wordcamp-speaker > * {
    margin-top: 0;
    margin-bottom: 0;
}

.wordcamp-speaker > * + * {
    margin-top: 2rem;
}

body.single-wcb_speaker .entry-content .speaker-avatar {
    display: none;
}

body.single-wcb_speaker .entry-content #speaker-session-names,
body.single-wcb_session .entry-content #session-speaker-names {
    padding-left: 0;
}

body.single-wcb_session .entry-content .session-categories-links {
    font-style: italic;
}

body.single-wcb_session .entry-content .session-categories-links a {
    text-decoration: none;
    color: inherit;
    pointer-events: none;
    font-weight: inherit;
    font-style: inherit;
}

body.single-wcb_speaker .entry-content .speaker-sessions {
    font-size: var(--wp--preset--font-size--large);
}

.wordcamp-speaker .wordcamp-speakers__sessions {
    clear: both;
    margin-top: 2rem;
}

.wordcamp-speaker .wordcamp-image__avatar-container {
    padding-bottom: 1rem;
}

.speaker-feedback > * {
    margin-top: 0;
    margin-bottom: 0;
}

.speaker-feedback > * + * {
    margin-top: 2rem;
}

.speaker-feedback h2,
.speaker-feedback h3,
.session-speakers {
    font-size: var(--wp--preset--font-size--large);
}

.speaker-feedback__field textarea {
    display: block;
    width: 100%;
    height: 10rem;
    resize: vertical;
}

/* END SPEAKERS */
